*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
li{
    margin: 0;
}
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Manrope", sans-serif;
}
html{
    font-family: var(--font-family);
    color: #000;
    font-size: 10px;
    scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    gap: 80px;
    padding: 0 20px;
}
/* block 1 free-trial */

.free-trial{
    /* max-width: 1059px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.free-trial__text-block{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.free-trial__title{
    font-weight: 900;
    font-size: 7.0rem;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
}
.free-trial__text{
    font-family:  var(--third-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(42, 43, 47, 0.8);
}
.btn{
    border-radius: 12px;
    border: none;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}
.free-trial__btn{
    width: 366px;
    height: 64px;
    background: #0146fe;
}

/* block 2 solution*/

.solution{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    padding: 64px 100px;
}
.solution__text-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.consumers__title, .help__title, .solution__title{
    font-weight: 900;
    font-size: 6.0rem;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
}
.solution__text, .consumers__text, .help__text{
    font-family:  var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(42, 43, 47, 0.9);
}
.solution__card-box{
    display: flex;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.card-item{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    width: 400px;
    height: 422px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 20px;
    gap: 16px;
}
.card-item__text-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}
.card-item__title{
    font-family:  var(--font-family);
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
}
.card-item__text{
    font-family:  var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.card-item__img{
    width: 368px;
    height: 245px;
}

/* block 3 consumers*/

.consumers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    padding: 70px 100px 0px 100px;
}
.consumers__text-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}
.consumers__text{
    color: rgba(42, 43, 47, 0.8);
}
.consumers__btn-block{
    width: 631px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.consumers__btn{
    padding: 16px 32px;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
}
.consumers__btn_colored{
    background: #0146fe;
    color: #fff;
}
.consumers__slider{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.consumers__card-block{
    display: flex;
    height: 484px;
    position: relative;
    width: 1137px;
}
.consumers__card{
    display: none;
    gap: 18px;
    padding: 40px 46px;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.consumers__card_visible{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 3;
}
.consumers__card_2{
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    position: absolute;
    width: 1042px;
    height: 386px;
    top: 65px;
    right: 40px;
    z-index: 2;
}
.consumers__card_3{
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    position: absolute;
    width: 973px;
    height: 361px;
    top: 120px;
    right: 80px;
    z-index: 1;
}
.consumers__card-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}
.consumers__card-title{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 900;
    font-size: 6.0rem;
    line-height: 1;
    letter-spacing: -0.05em;
}
.consumers__card-hilight{
    width: 514px;
    font-family:  var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: rgba(42, 43, 47, 0.9);
}
.consumers__img{
    border-radius: 32px;
    width: 507px;
    height: 338px;
}
.consumers__card-btn, .help__btn{
    width: 366px;
    height: 64px;
    background: #0146fe;
}

/* block 4 help*/

.help{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    background: #f4f6fd;
    padding: 64px 100px 70px 100px;
}
.help__card-block{
    display: grid;
    row-gap: 90px;
    column-gap: 16px;
    grid-template-columns: repeat(3, 295px);
    align-items: center;
    justify-content: flex-start;
}
.help__card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.help__subtitle{
    font-family:  var(--font-family);
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
}
.help__text{
    color: #7a869c;
}
@media (max-width: 1240px) {
    html{
        font-size: 8px;
    }
    .wrapper{
        max-width: 970px;
        gap: 30px;
    }
    .solution__card-box {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .free-trial__btn, .consumers__card-btn, .help__btn {
        width: 70%;
        height: 70%;
    }
    .consumers {
        padding: 30px 50px 0px 50px;
    }
    .consumers__btn-block{
        justify-content: center;
    }
    .consumers__btn {
        padding: 16px 22px; 
    }
    .consumers__card-block {
        width: 80%;

    }
    .consumers__card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 26px;
    }
    .consumers__card-title{
        font-size: 3.6rem;
    }
    .consumers__card-hilight{
        width: 100%;
    }
    .consumers__img {
        border-radius: 32px;
        width: 90%; 
        height: 90%;
    }
    .consumers__card_2 {
        width: 80%;
        height: 100%;
        top: 70px;
        right: 40px;
    }
    .consumers__card_3 {
        width: 70%;
        height: 85%;
        top: 155px;
        right: 60px;
    }
    .help__card-block {
        grid-template-columns: repeat(2, 295px);
    }
    .consumers__card-btn{
        margin-top: 50px;
    }
    .card-item{
        width: 80%;
        height: 100%;
        align-items: center;
    }
    .card-item__img{
        width: 70%;
        height: 70%;
    }
}
@media (max-width: 778px) {
    html{
        font-size: 7px;
    }
    .wrapper{
        max-width: 100%;
    }
    .solution {
        padding: 64px 50px;
    }
    .card-item{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .card-item__img{
        width: 100%;
        height: 100%;
    }
    .consumers {
        padding: 30px 10px 0px 10px;
    }
    .consumers__btn-block {
        width: 100%;
    }
    .consumers__card-block {
        width: 70%;

    }
    .consumers__card {
        padding: 20px 16px;
    }
    .consumers__card-hilight {
        width: 100%;
    }
    .consumers__img {
        width: 100%;
        height: 100%;
    }
    .consumers__card_2 {
        width: 80%;
        height: 100%;
        top: 35px;
        right: 35px;
    }
    .consumers__card_3 {
        width: 70%;
        height: 85%;
        top: 120px;
        right: 55px;
    }
    .consumers__card-btn{
        margin-top: 30px;
    }
    .help {
        padding: 64px 10px 70px 20px;
    }
    .help__card-block {
        grid-template-columns: repeat(1, 295px);
        row-gap: 50px;
    }
}
@media (max-width: 526px){
    .consumers__card_2, .consumers__card_3 {
        display: none;
    }
}
